<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<p th:text="${listaRoles}"></p>
	
	<a th:href="@{crear}">Crear</a>
	<table border="1">
		<tr>
			<th>#</th>
			<th>Nombre Rol</th>
			<th>Accion</th>
		</tr>
		<tr th:each="rol:${listaRoles}">
			<th scope="row" th:text="${rol.idRol}"></th>
			<td th:text="${rol.nombreRol}"></td>
			<td>
			<a th:href="@{ver/{id}(id=${rol.idRol})}">Ver</a>
			<a th:href="@{editar/{id}(id=${rol.idRol})}">Editar</a>
			<a th:href="@{eliminar/{id}(id=${rol.idRol})}">Eliminar</a>
			</td>
		</tr>
	</table>

</body>
</html>